/* body {
    background: blue;
    font-size: 30px;  */
    
/* }  */
/* header {
    background: blue;
    height: 100px; 
    width: 900px;
} */

nav {
    background: green;
    height: 200px; 
    width: 500px;
    float: right;


}


h1 {
    font-family: curleyQ, Arieal;

}

#logo {
    float :left;
    height: 200px; 
    width: 500px;
    float: right;


}

/* #hero {
    background: white;
    height: 200px; 
    width: 500px;
    float: right;

} */

main {
background: rgb(255, 47, 47);
height: 200px; 
    width: 500px;
    float: right;

}

.feature {
    background: crimson;
    height: 200px; 
    width: 500px;
    border: 2px white solid;
    float: right;
}

footer {
    background: violet; 
    height: 25px; 
    width: 25px;
    float: right;
    /* keeps floats in the footer */
    clear: both;
}

#wrapper {
    width: 70%;
    margin: auto;
}


li {
    display: inline;
}

/* nav a { 
    color:blue;
    text-decoration: none;
    margin: 0 20px 0 20px
} */

/* nav a:hover {
    color:aquamarine;
} */

#src {
    width: 25%;
}



/* position: relative; */

/* font-size: .#em */

/* text-shadow: 5px 5px black; */

/* display: flex; */

/* align-items */

/* display: grid; */
/* grid-template-columns: 1fr 1fr 1fr; */

